# --------------------------
# Archivos generales
# --------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
*.orig
*.rej
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# --------------------------
# IDEs / Editores
# --------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# --------------------------
# Flutter / Dart
# --------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
**/doc/api/
**/ios/Flutter/.last_build_id

# Compilation Files
/build/
coverage/
test/**/coverage/

# --------------------------
# Android
# --------------------------
/android/.gradle/
android/.gradle/
/android/local.properties
/android/**/gradle-wrapper.jar
/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release

# Keystores (private keys)
*.jks
*.keystore
*.gradle/
gradle-app.setting
gradlew
gradlew.bat

# --------------------------
# iOS / Xcode
# --------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Compilation Files
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdatad
ios/Runner.xcarchive/

# --------------------------
# Web
# --------------------------
lib/generated_plugin_registrant.dart

# --------------------------
# Obfuscation / Symbolication
# --------------------------
app.*.symbols
app.*.map.json

# --------------------------
# Other
# --------------------------
*.lock
pubspec.lock
.env
lib/firebase_options.dart